@page "{restaurantId:int}"
<!--Above allows us to use Detail/x rather than a query for the details of a resaurant-->

@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    ID: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

<!--Link back to our All Restaurants page-->
<a asp-page="./List" class="btn btn-primary">All Resaurants</a>
